body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header-container{
    width: 100%;
    background-color: #8bc34b;
    padding: 10px;
    font-family: Roboto, sans-serif;
    display: flex; 
    margin: 0;
    align-items: center;
}

.logo_text {
    color: #000000; 
    font-size: 20px;
    text-align: center;
    margin-left: 5px;
}

.logo_img {
    width: 120px;
    margin-top: 5px;
}

.main_container,
.platina_container,
.masterline_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo_platina {
    width: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.logo_masterline {
    width: 140px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* Estilos pl_csc */
.csc_administrativo_impressora,
.exportacao_impressora,
.comercial_impressora,
.marketing_impressora,
.financeiro_impressora {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    text-align: center;
}

.csc_administrativo_impressora h2,
.exportacao_impressora h2,
.comercial_impressora h2,
.marketing_impressora h2,
.financeiro_impressora h2 {
    font-size: 18px;
    font-family: Roboto, sans-serif;
    margin-top: 10px;
    text-align: center;
    color: #343a40; 
}

/* Estilos pl_log */

/* Estilos mln_main */

/* Estilos Container Botões */
.button-container {
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    flex-direction: column;
}

.status{
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
}

/* Estilos Botão Adicionar */
.btn-adicionar {
    background-color: #c7e28e;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 12px;
    height: 25px;
    width: 150px;
}

.btn-adicionar:hover {
    background-color: #a2cd5a;
}

/* Estilos Botão Localidades */
.button-link {
    background-color: #c7e28e;
    color: #000; 
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 10px;  
    font-weight: bold; 
    font-size: 13px;
    height: 30px;
    width: 140px;
}

.button-link:hover {
    background-color: #a2cd5a;
}

.footer-container {
    width: 100%;
    background-color: #0a0a0a;
    padding: 10px;
    text-align: center;
    font-family: Roboto, sans-serif;
    margin: 0;
}

.footer-container p {
    color: aliceblue;
    font-size: 12px;
}