<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Portal de Impressoras</title>
    <link rel="icon" href="/img/skala.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:wght@300;400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header-container">
        <a href="{{ url_for('index') }}">
            <img class='logo_img' src="{{ url_for('static', filename='img/logo-skala.png') }}" alt="Descrição">
        </a>
        <h1 class='logo_text'>Mapeamento de Impressoras</h1>
    </div>
    <div class="main-container">
        <div class="platina_container">
                <img class='logo_platina' src="{{ url_for('static', filename='img/logo_platina.png') }}" alt="Platina CSC">
            <div class="button-container">
                <button class="button-link" onclick="window.location.href='/pl_csc'">Platina CSC</button>
                <button class="button-link" onclick="window.location.href='/pl_log'">Platina LOG</button>
                <div class="status">Em Desenvolvimento</div>                
            </div>
        </div>
        <div class="masterline_container">
                <img class='logo_masterline' src="{{ url_for('static', filename='img/logo_masterline.png') }}" alt="Masterline">
            <div class="button-container">
                <button class="button-link" onclick="window.location.href='/ml_main'">Masterline</button>
                <div class="status">Em Desenvolvimento</div>
                <button class="button-link" onclick="window.location.href='/ml_log'">Masterline LOG</button>
                <div class="status">Em Desenvolvimento</div>
                <button class="button-link" onclick="window.location.href='/ml_emb'">Embalagem</button>
                <div class="status">Em Desenvolvimento</div>
                <!--<button class="button-link" onclick="window.location.href='/ml_flexo'">Flexografia</button>-->
            </div>
        </div>
    </div>
    <div class="footer-container">
        <p>Copyright © 2022 Grupo Skala - Desenvolvido por SKALA.TECH</p>
    </div>                
</body>
</html>
