<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Portal de Impressoras</title>
    <link rel="icon" href="/img/skala.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Raleway:wght@300;400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="script.js"></script>
</head>
<body>
    <div class="header-container">
        <a href="{{ url_for('index') }}">
            <img class='logo_img' src="{{ url_for('static', filename='img/logo-skala.png') }}" alt="Descrição">
        </a>
        <h1 class='logo_text'>Platina CSC</h1>
    </div>
    <div class="main-container">
        <!-- Administrativo -->
        <div class="csc_administrativo_impressora">
            <h2>Impressora Administrativo</h2>
            <p class="printer-name visually-hidden">PL CSC ADM</p>
            <button class="btn-adicionar" data-script="{{ adicionar_impressora_str }}" data-printer="{{ platina_csc_printers_str }}"><i class="fas fa-print"></i> Instalar Impressora</button>
        </div>
        <!-- Comercial -->
        <div class="comercial_impressora">
            <h2>Impressora Comercial</h2>
            <p class="printer-name visually-hidden">Comercial</p>
            <button class="btn-adicionar"><i class="fas fa-print"></i> Instalar Impressora</button>
        </div>
        <!-- Marketing-->
        <div class="marketing_impressora">
            <h2>Impressora Marketing</h2>
            <p class="printer-name visually-hidden">Marketing</p>
            <button class="btn-adicionar"><i class="fas fa-print"></i> Instalar Impressora</button>
        </div>
        <!-- Exportação -->
        <div class="exportacao_impressora">
            <h2>Impressora Exportação</h2>
            <p class="printer-name visually-hidden">Exportação</p>
            <button class="btn-adicionar"><i class="fas fa-print"></i> Instalar Impressora</button>
        </div>
        <!-- Financeiro -->
        <div class="financeiro_impressora">
            <h2>Impressora Financeiro - Cheque</h2>
            <p class="printer-name visually-hidden">Financeiro</p>
            <button class="btn-adicionar"><i class="fas fa-print"></i> Instalar Impressora</button>
        </div>
    </div>
    <div class="footer-container">
        <p>Copyright © 2022 Grupo Skala - Desenvolvido por SKALA.TECH</p>
    </div> 
</body>
</html>
